
/* Your CSS Code here. */
.holder{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	align-items:center;
	gap:10px;
}
.item{
	background-color:lightblue;
	height:100px;
	width:100px;
}